 /* hader style */
 header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 240px;
 }
 .btn-primary{
    border-radius: 8px;
    color:#FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0px;
    margin-bottom: 10px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .reusod-color{
    font-size: 45px;
    color: #131313;
    font-weight: 700;
 }
 nav > ul{
    display: flex;
 }
 nav li{
   list-style:none ;
   margin-right: 30px;
   font-weight: 500;
    font-size: 1rem;
 }
 nav li a{
    text-decoration: none;
    color: #424242;
 }
 /* banner style */
 .banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
 }
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.re-used-colo{
    color: #727272;
}
.bannaer img{
    width: 100%;
    padding: 20px;
    display: flex;
}
    
/* header style end */


/* main style sterdt */
main{
    max-width: 1400px;   
    margin: 70px auto;
}
/* temas style */
  .temas-container{
    display: flex;
     align-items: center;
  }
  .temas-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
  } 
.temas-content{
    padding-right: 70px;
    padding-left: 70px;
}
.temas-title{
    font-size: 45px;
}
.temas-title .Quick-text{
    color: #727272;
    font-weight: 500;
}
.temas-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
.temas-title .text-our{
    color: #131313;
    font-weight: 700;
}
.my-card .caed{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}
.my-card{
    display:flex;
    justify-content: space-around;
}
.my-card .card-stats{
    font-size: 45px;
    font-weight: 600;
    color:#424242;
}
.my-card .card-title{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}



/* responsive media quries */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .temas-container{
        flex-direction: column;
    }
    
}
@media screen and (min-width:576px) and(max-width:960px) {
    
       header{
        padding: 50px;
       }

    nav{
        flex-direction: column;
    }
}